h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
h3,ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
h2{
  color:rgb(149, 255, 135);
    margin: 1rem ;
    padding: 2rem;
    background:rgba(255,255,255,0.5);
    border-radius: 20px;
    border-style:inset;
    backdrop-filter: blur(5px)
    
}
div.overlay-text{
    margin: 1rem ;
    padding: 1rem;
}
ol{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    line-height: 2rem;
    border-bottom: 1px gray;
}
li img {
  border-radius: 30% 30%;
  width:3rem;
  height:3rem;
  margin-right:1rem;
}
